body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

#canvas-container {
	overflow: auto;
	flex-grow: 1;
}
